/* Fonts */

@font-face
{
  font-family: Nove;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/novecentosanswide-normal-webfont.woff') format('woff');
}

@font-face
{
  font-family: Nove;
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/novecentosanswide-bold-webfont.woff') format('woff');
}

html, body
{
  font-family: Nove;
}

/* Grid */

.container
{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.container-fluid
{
  width: 100%;
}

.row
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
}

.col-1
{
  flex: 0 0 calc((100% / 12) * 1);
}

.col-2
{
  flex: 0 0 calc((100% / 12) * 2);
}

.col-3
{
  flex: 0 0 25%;
}

.col-4
{
  flex: 0 0 calc((100% / 12) * 4);
}

.col-5
{
  flex: 0 0 calc((100% / 12) * 5);
}

.col-6
{
  flex: 0 0 50%;
}

.col-7
{
  flex: 0 0 calc((100% / 12) * 7);
}

.col-8
{
  flex: 0 0 calc((100% / 12) * 8);
}

.col-9
{
  flex: 0 0 75%;
}

.col-10
{
  flex: 0 0 calc((100% / 12) * 10);
}

.col-11
{
  flex: 0 0 calc((100% / 12) * 11);
}

.col-12
{
  flex: 0 0 100%;
}

/* Modifiers */

.h-100
{
  min-height: 100%;
}

/* Colors */

.bg-green
{
  background: #50af6f;
}

.bg-gray
{
  background: #28292b;
}

/* Menu */

nav ul
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

nav ul li
{
  position: relative;
  padding: 30px;
}

nav ul li::after
{
  display: block;
  content: ' ';
  width: 100%;
  height: 4px;
  background: #62bb7f;
  transition: all 0.2s ease-in-out;
}

nav ul li a
{
  display: block;
  padding-bottom: 10px;
  font: 400 18px Nove;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #aeecc2;
  transition: all 0.2s ease-in-out;
}

nav ul li:hover a, li.active a
{
  color: #fff;
}

nav ul li:hover::after, li.active::after
{
  background: #fff;
}

.submenu
{
  position: absolute;
  top: -100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background: #50af6f;
  transition: all 0.2s ease-in-out;
}

ul li:hover .submenu
{
  top: 100%;
  opacity: 1;
  visibility: visible;
}

/* Head */

h1
{
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 74px;
  color: #fff;
}

h2
{
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  line-height: 32px;
  color: #aeecc2;
}

hr
{
  display: block;
  width: 80px;
  height: 4px;
  background: #aeecc2;
  margin: 0 auto;
}

/* Content */

h2
{
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 32px;
  color: #fff;
}

p, a.link
{
  color: #a4a7ac;
  font: 18px Arial Helvetica, sans-serif;
  text-align: center;
}

a.link
{
  line-height: 1.5;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}

a.link:hover
{
  color: #50af6f;
}

footer p
{
  text-align: center;
}

/* Icon */

.has-icon
{
  position: relative;
}

.icon
{
  position: absolute;
  top: -70px;
  left: calc(50% - 57px);
  width: 114px;
  height: 114px;
  background: #50af6f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img
{
  width: 60px;
  padding-top: 40px;
}

.round-icon
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 123px;
  height: 123px;
  margin: 0 auto;
  background: #c6cfc9;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.round-icon:hover
{
  background: #50af6f;
}

.round-icon img
{
  display: block;
  flex: 0 0 50%;
}

/* Copyright */

@keyframes cpr
{
  0%
  {
    color: #a4a7ac;
  }

  30%
  {
    color: #a4a7ac;
  }

  60%
  {
    color: #50af6f;
  }

  80%
  {
    color: #a4a7ac;
  }
}

#cpr
{
  animation: 5s cpr linear infinite;
}

/* Gallery */

.gallery
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery .image
{
  padding: 50px 12px;
  width: 294px;
  height: 294px;
}

.gallery figure
{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.gallery figure:hover figcaption
{
  opacity: 0.9;
}

.gallery img
{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.gallery figcaption
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 50%;
  background: #6abb84;
  text-align: center;
  transition: all 0.2s ease-in-out
}

.gallery h3
{
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding-left: 30px;
  padding-right: 30px;
}

.gallery hr
{
  width: 50px;
  margin: 20px auto;
  background: #fff;
}

.gallery p
{
  color: #fff;
  font-size: 15px;
  line-height: 17px;
  padding-left: 30px;
  padding-right: 30px;
}

.gallery a
{
  display: inline-block;
  padding-top: 15px;
}

.gallery a img
{
  width: 65px;
  height: 65px;
  margin-left: 10px;
}

/* Form */

form div[class^="col-"]
{
  padding: 32px 16px;
  box-sizing: border-box;
}

form input
{
  background: transparent;
  display: block;
  width: 100%;
  text-transform: uppercase;
  font: 18px Arial Helvetica, sans-serif;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 6px;
}

form input[type="reset"], form input[type="submit"]
{
  background: #fff;
  color: #28292b;
  padding: 16px 16px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

form input[type="reset"]:hover, form input[type="submit"]:hover
{
  background: transparent;
  color: #fff;
}

/* Table */

table
{
  width: 100%;
}

table td, table th
{
  width: 40%;
}

table td:first-child, table tr th:first-child
{
  float: left;
}

table td:last-child, table tr th:last-child
{
  float: right;
}

table th
{
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 27px;
}

table td
{
  background: #50af6f;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  padding: 12px;
  margin-bottom: 27px;
  border-radius: 5px;
  animation: 0.8s easein ease-in-out 1;
}

@keyframes easein
{
  0%
  {
    transform: translateX(-200px);
    opacity: 0;
  }

  100%
  {
    transform: translateX(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 500px)
{
  .col-500-12
  {
    flex: 0 0 100%;
  }

  h1
  {
    font-size: 40px;
    line-height: 42px;
  }
}

@media screen and (max-width: 630px)
{
  table td
  {
    width: 30%;
    font-size: 16px;
    line-height: 1;
  }

  table th
  {
    width: 50%;
    font-size: 12px;
    line-height: 1;
  }
}
